.vs/capstone-project/FileContentIndex/386d7189-d648-4b76-9313-56ff7d85fe9d.vsidx
.vs/capstone-project/FileContentIndex/bf86ecfb-1172-4e54-891b-6c9031fb3d93.vsidx
.vs/capstone-project/FileContentIndex/read.lock
.vs/slnx.sqlite